@import "/styles/variables.scss";

.sidebar {
  background: $side1;
  padding: 8px;
}
.friendsSide {
  background: $side2;
  padding: 8px;
}
.messenger {
  background: $side3;
  flex-grow: 1;
}
.friendsList {
  height: calc(100vh - 300px);
  min-height: 300px;
  overflow: auto;
}
.inviteList {
  height: 300px;
  overflow: auto;
}
