$xLarge-margin: 32px;
$large-margin: 24px;
$medium-margin: 16px;
$small-margin: 8px;
$xs-margin: 4px;

$primary: #0d3144;
$error: #d82148;
$secondary: #6ebf8b;
$active: #dadbbd;

$test1: #0d3144, #0d5771, #5aa377, #bfae53;

$background: #121212;

$side1: #202020;
$side2: #303030;
$side3: #404040;
