$xLarge-margin: 32px;
$large-margin: 24px;
$medium-margin: 16px;
$small-margin: 8px;
$xs-margin: 4px;

$primary: #151D3B;
$error: #D82148;
$secondary: #6EBF8B;
$active: #DADBBD;

$co1:#677387;
$co2:#1F4287;
$co3:#278EA5;
$co4:#21E6C1;
$co5:#141518;

$background: #121212;
$border: #92b7ce;
